<TABLE ID='snps' BORDER=1>
<TR>
<TH>CHROM
<TH>POS
<TH>TYPE
<TH>REF
<TH>ALT
<TH>EVIDENCE
<TH>FTYPE
<TH>STRAND
<TH>NT_POS
<TH>AA_POS
<TH>EFFECT
<TH>LOCUS_TAG
<TH>GENE
<TH>PRODUCT
<TR>
<TD>AE014075.1
<TD>12966
<TD>snp
<TD>N
<TD>C
<TD>C:107 N:0
<TR>
<TD>AE014075.1
<TD>46255
<TD>ins
<TD>G
<TD>GC
<TD>GC:84 G:0
<TR>
<TD>AE014075.1
<TD>136593
<TD>complex
<TD>NGCGN
<TD>CGCGG
<TD>CGCGG:81 NGCGN:0
<TR>
<TD>AE014075.1
<TD>136604
<TD>snp
<TD>N
<TD>C
<TD>C:80 N:0
<TR>
<TD>AE014075.1
<TD>136618
<TD>snp
<TD>N
<TD>G
<TD>G:87 N:0
<TR>
<TD>AE014075.1
<TD>136634
<TD>del
<TD>CA
<TD>C
<TD>C:78 CA:0
<TR>
<TD>AE014075.1
<TD>136641
<TD>snp
<TD>N
<TD>C
<TD>C:91 N:0
<TR>
<TD>AE014075.1
<TD>159242
<TD>del
<TD>CG
<TD>C
<TD>C:78 CG:0
<TR>
<TD>AE014075.1
<TD>203854
<TD>del
<TD>AT
<TD>A
<TD>A:78 AT:0
<TR>
<TD>AE014075.1
<TD>204016
<TD>complex
<TD>CN
<TD>C
<TD>C:78 CN:0
<TR>
<TD>AE014075.1
<TD>211178
<TD>snp
<TD>N
<TD>C
<TD>C:85 N:0
<TR>
<TD>AE014075.1
<TD>211194
<TD>snp
<TD>N
<TD>G
<TD>G:93 N:0
<TR>
<TD>AE014075.1
<TD>237087
<TD>complex
<TD>TGAA
<TD>CGAG
<TD>CGAG:28 TGAA:0
<TR>
<TD>AE014075.1
<TD>237132
<TD>snp
<TD>G
<TD>A
<TD>A:28 G:0
<TR>
<TD>AE014075.1
<TD>269070
<TD>del
<TD>CG
<TD>C
<TD>C:35 CG:0
<TR>
<TD>AE014075.1
<TD>269240
<TD>snp
<TD>N
<TD>G
<TD>G:88 N:0
<TR>
<TD>AE014075.1
<TD>363037
<TD>complex
<TD>NTGA
<TD>CTGC
<TD>CTGC:96 NTGA:0
<TR>
<TD>AE014075.1
<TD>363067
<TD>snp
<TD>C
<TD>G
<TD>G:107 C:0
<TR>
<TD>AE014075.1
<TD>363082
<TD>snp
<TD>N
<TD>G
<TD>G:109 N:0
<TR>
<TD>AE014075.1
<TD>363233
<TD>snp
<TD>N
<TD>G
<TD>G:96 N:0
<TR>
<TD>AE014075.1
<TD>387127
<TD>snp
<TD>T
<TD>C
<TD>C:90 T:0
<TR>
<TD>AE014075.1
<TD>388821
<TD>del
<TD>GA
<TD>G
<TD>G:86 GA:0
<TR>
<TD>AE014075.1
<TD>388982
<TD>snp
<TD>C
<TD>T
<TD>T:87 C:0
<TR>
<TD>AE014075.1
<TD>388995
<TD>snp
<TD>G
<TD>A
<TD>A:79 G:0
<TR>
<TD>AE014075.1
<TD>389001
<TD>complex
<TD>NCTTNGNCG
<TD>CCTTTACC
<TD>CCTTTACC:57 NCTTNGNCG:0
<TR>
<TD>AE014075.1
<TD>389028
<TD>snp
<TD>N
<TD>G
<TD>G:84 N:0
<TR>
<TD>AE014075.1
<TD>389036
<TD>complex
<TD>GN
<TD>A
<TD>A:74 GN:0
<TR>
<TD>AE014075.1
<TD>389058
<TD>snp
<TD>N
<TD>A
<TD>A:86 N:0
<TR>
<TD>AE014075.1
<TD>389066
<TD>snp
<TD>T
<TD>C
<TD>C:78 T:0
<TR>
<TD>AE014075.1
<TD>389074
<TD>complex
<TD>N
<TD>AC
<TD>AC:69 N:0
<TR>
<TD>AE014075.1
<TD>389089
<TD>complex
<TD>CGTNN
<TD>GGCA
<TD>GGCA:62 CGTNN:0
<TR>
<TD>AE014075.1
<TD>389104
<TD>snp
<TD>N
<TD>A
<TD>A:86 N:0
<TR>
<TD>AE014075.1
<TD>389147
<TD>complex
<TD>AGN
<TD>GA
<TD>GA:77 AGN:0
<TR>
<TD>AE014075.1
<TD>389167
<TD>complex
<TD>GN
<TD>CGT
<TD>CGT:89 GN:0
<TR>
<TD>AE014075.1
<TD>430191
<TD>del
<TD>CT
<TD>C
<TD>C:73 CT:0
<TR>
<TD>AE014075.1
<TD>430208
<TD>del
<TD>CT
<TD>C
<TD>C:74 CT:0
<TR>
<TD>AE014075.1
<TD>430293
<TD>snp
<TD>N
<TD>G
<TD>G:33 N:0
<TR>
<TD>AE014075.1
<TD>430306
<TD>complex
<TD>CNGCCTTN
<TD>GGCCTG
<TD>GGCCTG:20 CNGCCTTN:0
<TR>
<TD>AE014075.1
<TD>430322
<TD>snp
<TD>N
<TD>G
<TD>G:20 N:0
<TR>
<TD>AE014075.1
<TD>430331
<TD>snp
<TD>N
<TD>G
<TD>G:16 N:0
<TR>
<TD>AE014075.1
<TD>451498
<TD>snp
<TD>N
<TD>A
<TD>A:92 N:0
<TR>
<TD>AE014075.1
<TD>452062
<TD>del
<TD>TA
<TD>T
<TD>T:105 TA:0
<TR>
<TD>AE014075.1
<TD>452325
<TD>ins
<TD>G
<TD>GA
<TD>GA:71 G:0
<TR>
<TD>AE014075.1
<TD>452406
<TD>del
<TD>CG
<TD>C
<TD>C:75 CG:0
<TR>
<TD>AE014075.1
<TD>455879
<TD>snp
<TD>N
<TD>G
<TD>G:108 N:0
<TR>
<TD>AE014075.1
<TD>455930
<TD>snp
<TD>N
<TD>G
<TD>G:104 N:0
<TR>
<TD>AE014075.1
<TD>455936
<TD>complex
<TD>NTTTT
<TD>CTCTG
<TD>CTCTG:96 NTTTT:0
<TR>
<TD>AE014075.1
<TD>463237
<TD>snp
<TD>A
<TD>G
<TD>G:83 A:0
<TR>
<TD>AE014075.1
<TD>528830
<TD>snp
<TD>N
<TD>G
<TD>G:89 N:0
<TR>
<TD>AE014075.1
<TD>528839
<TD>complex
<TD>NN
<TD>CG
<TD>CG:78 NN:0
<TR>
<TD>AE014075.1
<TD>541107
<TD>snp
<TD>N
<TD>C
<TD>C:89 N:0
<TR>
<TD>AE014075.1
<TD>569328
<TD>snp
<TD>N
<TD>A
<TD>A:87 N:0
<TR>
<TD>AE014075.1
<TD>592775
<TD>del
<TD>CT
<TD>C
<TD>C:108 CT:0
<TR>
<TD>AE014075.1
<TD>598962
<TD>del
<TD>CT
<TD>C
<TD>C:105 CT:0
<TR>
<TD>AE014075.1
<TD>609277
<TD>snp
<TD>N
<TD>G
<TD>G:79 N:0
<TR>
<TD>AE014075.1
<TD>616195
<TD>snp
<TD>N
<TD>G
<TD>G:92 N:0
<TR>
<TD>AE014075.1
<TD>625423
<TD>del
<TD>CT
<TD>C
<TD>C:107 CT:0
<TR>
<TD>AE014075.1
<TD>629039
<TD>snp
<TD>C
<TD>A
<TD>A:104 C:0
<TR>
<TD>AE014075.1
<TD>629046
<TD>snp
<TD>C
<TD>A
<TD>A:100 C:0
<TR>
<TD>AE014075.1
<TD>629118
<TD>snp
<TD>N
<TD>A
<TD>A:116 N:0
<TR>
<TD>AE014075.1
<TD>629150
<TD>snp
<TD>N
<TD>T
<TD>T:131 N:0
<TR>
<TD>AE014075.1
<TD>643869
<TD>snp
<TD>N
<TD>C
<TD>C:88 N:0
<TR>
<TD>AE014075.1
<TD>670634
<TD>snp
<TD>N
<TD>G
<TD>G:79 N:0
<TR>
<TD>AE014075.1
<TD>675111
<TD>snp
<TD>N
<TD>C
<TD>C:66 N:0
<TR>
<TD>AE014075.1
<TD>682752
<TD>snp
<TD>A
<TD>G
<TD>G:90 A:0
<TR>
<TD>AE014075.1
<TD>692244
<TD>complex
<TD>CNN
<TD>GAA
<TD>GAA:83 CNN:0
<TR>
<TD>AE014075.1
<TD>692260
<TD>complex
<TD>NGCANCN
<TD>AGCAACG
<TD>AGCAACG:82 NGCANCN:0
<TR>
<TD>AE014075.1
<TD>692282
<TD>snp
<TD>T
<TD>C
<TD>C:89 T:0
<TR>
<TD>AE014075.1
<TD>692290
<TD>complex
<TD>NN
<TD>TC
<TD>TC:87 NN:0
<TR>
<TD>AE014075.1
<TD>692297
<TD>complex
<TD>ACNGCNAA
<TD>CACGCGAT
<TD>CACGCGAT:80 ACNGCNAA:0
<TR>
<TD>AE014075.1
<TD>692313
<TD>snp
<TD>N
<TD>C
<TD>C:94 N:0
<TR>
<TD>AE014075.1
<TD>697561
<TD>snp
<TD>N
<TD>G
<TD>G:119 N:0
<TR>
<TD>AE014075.1
<TD>721978
<TD>snp
<TD>N
<TD>C
<TD>C:89 N:0
<TR>
<TD>AE014075.1
<TD>721985
<TD>complex
<TD>CCC
<TD>GTT
<TD>GTT:80 CCC:0
<TR>
<TD>AE014075.1
<TD>721994
<TD>snp
<TD>G
<TD>C
<TD>C:93 G:0
<TR>
<TD>AE014075.1
<TD>793144
<TD>ins
<TD>G
<TD>GT
<TD>GT:108 G:0
<TR>
<TD>AE014075.1
<TD>793313
<TD>del
<TD>CG
<TD>C
<TD>C:78 CG:0
<TR>
<TD>AE014075.1
<TD>802866
<TD>del
<TD>CG
<TD>C
<TD>C:102 CG:0
<TR>
<TD>AE014075.1
<TD>806053
<TD>snp
<TD>N
<TD>C
<TD>C:91 N:0
<TR>
<TD>AE014075.1
<TD>806092
<TD>snp
<TD>N
<TD>C
<TD>C:98 N:0
<TR>
<TD>AE014075.1
<TD>806102
<TD>snp
<TD>G
<TD>C
<TD>C:100 G:0
<TR>
<TD>AE014075.1
<TD>817698
<TD>complex
<TD>NCN
<TD>TCT
<TD>TCT:92 NCN:0
<TR>
<TD>AE014075.1
<TD>817706
<TD>snp
<TD>N
<TD>G
<TD>G:90 N:0
<TR>
<TD>AE014075.1
<TD>817721
<TD>snp
<TD>N
<TD>T
<TD>T:93 N:0
<TR>
<TD>AE014075.1
<TD>817769
<TD>snp
<TD>N
<TD>G
<TD>G:90 N:0
<TR>
<TD>AE014075.1
<TD>817790
<TD>snp
<TD>N
<TD>T
<TD>T:88 N:0
<TR>
<TD>AE014075.1
<TD>817797
<TD>snp
<TD>N
<TD>A
<TD>A:84 N:0
<TR>
<TD>AE014075.1
<TD>834963
<TD>snp
<TD>N
<TD>T
<TD>T:95 N:0
<TR>
<TD>AE014075.1
<TD>834969
<TD>snp
<TD>N
<TD>C
<TD>C:96 N:0
<TR>
<TD>AE014075.1
<TD>834986
<TD>snp
<TD>N
<TD>G
<TD>G:99 N:0
<TR>
<TD>AE014075.1
<TD>835011
<TD>snp
<TD>N
<TD>C
<TD>C:99 N:0
<TR>
<TD>AE014075.1
<TD>835018
<TD>snp
<TD>C
<TD>A
<TD>A:95 C:1
<TR>
<TD>AE014075.1
<TD>835124
<TD>snp
<TD>N
<TD>C
<TD>C:101 N:0
<TR>
<TD>AE014075.1
<TD>835132
<TD>complex
<TD>NCAN
<TD>GCAG
<TD>GCAG:85 NCAN:0
<TR>
<TD>AE014075.1
<TD>835142
<TD>complex
<TD>NN
<TD>GG
<TD>GG:82 NN:0
<TR>
<TD>AE014075.1
<TD>835148
<TD>snp
<TD>N
<TD>C
<TD>C:84 N:0
<TR>
<TD>AE014075.1
<TD>836943
<TD>snp
<TD>N
<TD>G
<TD>G:107 N:0
<TR>
<TD>AE014075.1
<TD>836957
<TD>complex
<TD>NGAA
<TD>GGAG
<TD>GGAG:106 NGAA:0
<TR>
<TD>AE014075.1
<TD>864217
<TD>snp
<TD>N
<TD>T
<TD>T:100 N:0
<TR>
<TD>AE014075.1
<TD>864223
<TD>snp
<TD>N
<TD>T
<TD>T:102 N:0
<TR>
<TD>AE014075.1
<TD>864232
<TD>snp
<TD>N
<TD>T
<TD>T:100 N:0
<TR>
<TD>AE014075.1
<TD>864306
<TD>snp
<TD>C
<TD>T
<TD>T:77 C:0
<TR>
<TD>AE014075.1
<TD>864391
<TD>snp
<TD>N
<TD>T
<TD>T:110 N:0
<TR>
<TD>AE014075.1
<TD>883379
<TD>snp
<TD>G
<TD>T
<TD>T:96 G:1
<TR>
<TD>AE014075.1
<TD>931423
<TD>snp
<TD>A
<TD>C
<TD>C:125 A:1
<TR>
<TD>AE014075.1
<TD>931428
<TD>snp
<TD>C
<TD>G
<TD>G:129 C:0
<TR>
<TD>AE014075.1
<TD>966157
<TD>snp
<TD>N
<TD>T
<TD>T:87 N:0
<TR>
<TD>AE014075.1
<TD>976069
<TD>del
<TD>CA
<TD>C
<TD>C:84 CA:0
<TR>
<TD>AE014075.1
<TD>1003441
<TD>del
<TD>AG
<TD>A
<TD>A:87 AG:0
<TR>
<TD>AE014075.1
<TD>1019567
<TD>del
<TD>CA
<TD>C
<TD>C:95 CA:0
<TR>
<TD>AE014075.1
<TD>1019593
<TD>snp
<TD>N
<TD>G
<TD>G:104 N:0
<TR>
<TD>AE014075.1
<TD>1019665
<TD>snp
<TD>N
<TD>T
<TD>T:81 N:0
<TR>
<TD>AE014075.1
<TD>1019781
<TD>snp
<TD>N
<TD>T
<TD>T:101 N:0
<TR>
<TD>AE014075.1
<TD>1020437
<TD>snp
<TD>T
<TD>C
<TD>C:89 T:0
<TR>
<TD>AE014075.1
<TD>1020451
<TD>snp
<TD>T
<TD>C
<TD>C:88 T:1
<TR>
<TD>AE014075.1
<TD>1020473
<TD>snp
<TD>N
<TD>C
<TD>C:93 N:0
<TR>
<TD>AE014075.1
<TD>1035411
<TD>snp
<TD>G
<TD>C
<TD>C:111 G:0
<TR>
<TD>AE014075.1
<TD>1050646
<TD>snp
<TD>A
<TD>T
<TD>T:85 A:0
<TR>
<TD>AE014075.1
<TD>1050905
<TD>snp
<TD>T
<TD>G
<TD>G:104 T:0
<TR>
<TD>AE014075.1
<TD>1058895
<TD>complex
<TD>NCANCAC
<TD>ACAACAA
<TD>ACAACAA:95 NCANCAC:0
<TR>
<TD>AE014075.1
<TD>1059277
<TD>snp
<TD>N
<TD>T
<TD>T:94 N:0
<TR>
<TD>AE014075.1
<TD>1059286
<TD>complex
<TD>NN
<TD>TT
<TD>TT:91 NN:0
<TR>
<TD>AE014075.1
<TD>1059308
<TD>snp
<TD>N
<TD>A
<TD>A:86 N:0
<TR>
<TD>AE014075.1
<TD>1059318
<TD>snp
<TD>N
<TD>C
<TD>C:81 N:0
<TR>
<TD>AE014075.1
<TD>1059334
<TD>snp
<TD>N
<TD>T
<TD>T:77 N:0
<TR>
<TD>AE014075.1
<TD>1059349
<TD>snp
<TD>N
<TD>C
<TD>C:92 N:0
<TR>
<TD>AE014075.1
<TD>1062271
<TD>snp
<TD>N
<TD>A
<TD>A:106 N:0
<TR>
<TD>AE014075.1
<TD>1100199
<TD>ins
<TD>G
<TD>GC
<TD>GC:92 G:0
<TR>
<TD>AE014075.1
<TD>1100299
<TD>del
<TD>CA
<TD>C
<TD>C:92 CA:0
<TR>
<TD>AE014075.1
<TD>1114607
<TD>del
<TD>AC
<TD>A
<TD>A:98 AC:0
<TR>
<TD>AE014075.1
<TD>1158981
<TD>snp
<TD>C
<TD>G
<TD>G:96 C:0
<TR>
<TD>AE014075.1
<TD>1163223
<TD>del
<TD>GC
<TD>G
<TD>G:12 GC:0
<TR>
<TD>AE014075.1
<TD>1174673
<TD>del
<TD>CA
<TD>C
<TD>C:110 CA:0
<TR>
<TD>AE014075.1
<TD>1241367
<TD>del
<TD>CG
<TD>C
<TD>C:90 CG:0
<TR>
<TD>AE014075.1
<TD>1270652
<TD>del
<TD>CA
<TD>C
<TD>C:81 CA:0
<TR>
<TD>AE014075.1
<TD>1270680
<TD>del
<TD>TC
<TD>T
<TD>T:94 TC:0
<TR>
<TD>AE014075.1
<TD>1270748
<TD>del
<TD>TC
<TD>T
<TD>T:86 TC:0
<TR>
<TD>AE014075.1
<TD>1294562
<TD>del
<TD>CG
<TD>C
<TD>C:100 CG:0
<TR>
<TD>AE014075.1
<TD>1294607
<TD>del
<TD>CT
<TD>C
<TD>C:99 CT:0
<TR>
<TD>AE014075.1
<TD>1294617
<TD>del
<TD>CA
<TD>C
<TD>C:101 CA:0
<TR>
<TD>AE014075.1
<TD>1297553
<TD>ins
<TD>C
<TD>CT
<TD>CT:108 C:0
<TR>
<TD>AE014075.1
<TD>1297649
<TD>del
<TD>TG
<TD>T
<TD>T:108 TG:0
<TR>
<TD>AE014075.1
<TD>1315473
<TD>complex
<TD>GN
<TD>G
<TD>G:93 GN:0
<TR>
<TD>AE014075.1
<TD>1333360
<TD>snp
<TD>N
<TD>T
<TD>T:113 N:0
<TR>
<TD>AE014075.1
<TD>1333367
<TD>snp
<TD>A
<TD>T
<TD>T:108 A:0
<TR>
<TD>AE014075.1
<TD>1389713
<TD>snp
<TD>N
<TD>G
<TD>G:107 N:0
<TR>
<TD>AE014075.1
<TD>1394263
<TD>snp
<TD>N
<TD>G
<TD>G:108 N:0
<TR>
<TD>AE014075.1
<TD>1394268
<TD>snp
<TD>N
<TD>C
<TD>C:108 N:0
<TR>
<TD>AE014075.1
<TD>1394274
<TD>snp
<TD>T
<TD>G
<TD>G:103 T:0
<TR>
<TD>AE014075.1
<TD>1394310
<TD>snp
<TD>A
<TD>C
<TD>C:112 A:0
<TR>
<TD>AE014075.1
<TD>1395390
<TD>del
<TD>CG
<TD>C
<TD>C:98 CG:0
<TR>
<TD>AE014075.1
<TD>1406695
<TD>snp
<TD>N
<TD>C
<TD>C:104 N:0
<TR>
<TD>AE014075.1
<TD>1406736
<TD>snp
<TD>N
<TD>C
<TD>C:89 N:0
<TR>
<TD>AE014075.1
<TD>1406752
<TD>snp
<TD>N
<TD>T
<TD>T:85 N:0
<TR>
<TD>AE014075.1
<TD>1406799
<TD>snp
<TD>N
<TD>C
<TD>C:85 N:0
<TR>
<TD>AE014075.1
<TD>1412847
<TD>snp
<TD>C
<TD>T
<TD>T:115 C:0
<TR>
<TD>AE014075.1
<TD>1412868
<TD>complex
<TD>TN
<TD>T
<TD>T:111 TN:0
<TR>
<TD>AE014075.1
<TD>1412877
<TD>del
<TD>AC
<TD>A
<TD>A:104 AC:0
<TR>
<TD>AE014075.1
<TD>1412889
<TD>del
<TD>TC
<TD>T
<TD>T:103 TC:0
<TR>
<TD>AE014075.1
<TD>1412935
<TD>snp
<TD>T
<TD>A
<TD>A:107 T:0
<TR>
<TD>AE014075.1
<TD>1412942
<TD>del
<TD>AC
<TD>A
<TD>A:98 AC:0
<TR>
<TD>AE014075.1
<TD>1412961
<TD>snp
<TD>N
<TD>T
<TD>T:100 N:0
<TR>
<TD>AE014075.1
<TD>1430717
<TD>mnp
<TD>CG
<TD>GC
<TD>GC:104 CG:0
<TR>
<TD>AE014075.1
<TD>1434004
<TD>ins
<TD>C
<TD>CA
<TD>CA:86 C:0
<TR>
<TD>AE014075.1
<TD>1434074
<TD>snp
<TD>A
<TD>G
<TD>G:55 A:0
<TR>
<TD>AE014075.1
<TD>1434106
<TD>snp
<TD>N
<TD>G
<TD>G:25 N:0
<TR>
<TD>AE014075.1
<TD>1434245
<TD>ins
<TD>T
<TD>TG
<TD>TG:10 T:0
<TR>
<TD>AE014075.1
<TD>1449249
<TD>ins
<TD>T
<TD>TC
<TD>TC:103 T:0
<TR>
<TD>AE014075.1
<TD>1449274
<TD>ins
<TD>T
<TD>TA
<TD>TA:100 T:0
<TR>
<TD>AE014075.1
<TD>1449281
<TD>ins
<TD>T
<TD>TA
<TD>TA:103 T:0
<TR>
<TD>AE014075.1
<TD>1449289
<TD>ins
<TD>T
<TD>TA
<TD>TA:106 T:0
<TR>
<TD>AE014075.1
<TD>1449338
<TD>ins
<TD>A
<TD>AG
<TD>AG:96 A:0
<TR>
<TD>AE014075.1
<TD>1449360
<TD>ins
<TD>G
<TD>GC
<TD>GC:101 G:0
<TR>
<TD>AE014075.1
<TD>1535832
<TD>snp
<TD>A
<TD>G
<TD>G:115 A:0
<TR>
<TD>AE014075.1
<TD>1562499
<TD>snp
<TD>N
<TD>C
<TD>C:90 N:0
<TR>
<TD>AE014075.1
<TD>1562517
<TD>complex
<TD>TAN
<TD>GAC
<TD>GAC:75 TAN:0
<TR>
<TD>AE014075.1
<TD>1562530
<TD>snp
<TD>N
<TD>G
<TD>G:80 N:0
<TR>
<TD>AE014075.1
<TD>1562535
<TD>snp
<TD>N
<TD>C
<TD>C:81 N:0
<TR>
<TD>AE014075.1
<TD>1562553
<TD>snp
<TD>N
<TD>A
<TD>A:83 N:0
<TR>
<TD>AE014075.1
<TD>1562562
<TD>complex
<TD>NGCGN
<TD>CGCGC
<TD>CGCGC:78 NGCGN:0
<TR>
<TD>AE014075.1
<TD>1562687
<TD>snp
<TD>N
<TD>T
<TD>T:89 N:0
<TR>
<TD>AE014075.1
<TD>1586082
<TD>snp
<TD>T
<TD>C
<TD>C:82 T:0
<TR>
<TD>AE014075.1
<TD>1586133
<TD>ins
<TD>A
<TD>AT
<TD>AT:79 A:0
<TR>
<TD>AE014075.1
<TD>1642066
<TD>snp
<TD>N
<TD>C
<TD>C:75 N:0
<TR>
<TD>AE014075.1
<TD>1659918
<TD>snp
<TD>N
<TD>C
<TD>C:84 N:0
<TR>
<TD>AE014075.1
<TD>1665168
<TD>del
<TD>CT
<TD>C
<TD>C:24 CT:0
<TR>
<TD>AE014075.1
<TD>1696413
<TD>snp
<TD>N
<TD>A
<TD>A:94 N:0
<TR>
<TD>AE014075.1
<TD>1705681
<TD>del
<TD>CT
<TD>C
<TD>C:64 CT:0
<TR>
<TD>AE014075.1
<TD>1710865
<TD>del
<TD>CG
<TD>C
<TD>C:94 CG:0
<TR>
<TD>AE014075.1
<TD>1718459
<TD>del
<TD>CG
<TD>C
<TD>C:86 CG:0
<TR>
<TD>AE014075.1
<TD>1750296
<TD>del
<TD>GC
<TD>G
<TD>G:86 GC:0
<TR>
<TD>AE014075.1
<TD>1751297
<TD>del
<TD>CA
<TD>C
<TD>C:97 CA:0
<TR>
<TD>AE014075.1
<TD>1757912
<TD>snp
<TD>G
<TD>T
<TD>T:88 G:0
<TR>
<TD>AE014075.1
<TD>1758000
<TD>ins
<TD>G
<TD>GA
<TD>GA:92 G:0
<TR>
<TD>AE014075.1
<TD>1771649
<TD>snp
<TD>G
<TD>C
<TD>C:96 G:0
<TR>
<TD>AE014075.1
<TD>1781497
<TD>snp
<TD>N
<TD>T
<TD>T:90 N:0
<TR>
<TD>AE014075.1
<TD>1781874
<TD>snp
<TD>N
<TD>A
<TD>A:106 N:0
<TR>
<TD>AE014075.1
<TD>1781879
<TD>snp
<TD>N
<TD>C
<TD>C:100 N:0
<TR>
<TD>AE014075.1
<TD>1781887
<TD>complex
<TD>GG
<TD>C
<TD>C:92 GG:0
<TR>
<TD>AE014075.1
<TD>1781942
<TD>snp
<TD>N
<TD>T
<TD>T:98 N:0
<TR>
<TD>AE014075.1
<TD>1781958
<TD>snp
<TD>N
<TD>T
<TD>T:87 N:0
<TR>
<TD>AE014075.1
<TD>1782013
<TD>snp
<TD>N
<TD>A
<TD>A:92 N:0
<TR>
<TD>AE014075.1
<TD>1782031
<TD>snp
<TD>N
<TD>C
<TD>C:93 N:0
<TR>
<TD>AE014075.1
<TD>1782069
<TD>snp
<TD>N
<TD>G
<TD>G:88 N:0
<TR>
<TD>AE014075.1
<TD>1782087
<TD>snp
<TD>N
<TD>T
<TD>T:83 N:0
<TR>
<TD>AE014075.1
<TD>1785647
<TD>complex
<TD>CN
<TD>C
<TD>C:80 CN:0
<TR>
<TD>AE014075.1
<TD>1880894
<TD>snp
<TD>N
<TD>T
<TD>T:89 N:0
<TR>
<TD>AE014075.1
<TD>1913481
<TD>complex
<TD>TG
<TD>AA
<TD>AA:97 TG:0
<TR>
<TD>AE014075.1
<TD>1913494
<TD>snp
<TD>G
<TD>A
<TD>A:98 G:0
<TR>
<TD>AE014075.1
<TD>1913503
<TD>snp
<TD>G
<TD>A
<TD>A:96 G:0
<TR>
<TD>AE014075.1
<TD>1952025
<TD>snp
<TD>N
<TD>A
<TD>A:87 N:0
<TR>
<TD>AE014075.1
<TD>1953470
<TD>complex
<TD>CT
<TD>G
<TD>G:74 CT:0
<TR>
<TD>AE014075.1
<TD>1986602
<TD>snp
<TD>T
<TD>C
<TD>C:75 T:3
<TR>
<TD>AE014075.1
<TD>2043582
<TD>complex
<TD>NTN
<TD>TTG
<TD>TTG:87 NTN:0
<TR>
<TD>AE014075.1
<TD>2043606
<TD>snp
<TD>C
<TD>G
<TD>G:89 C:0
<TR>
<TD>AE014075.1
<TD>2067725
<TD>snp
<TD>N
<TD>C
<TD>C:90 N:0
<TR>
<TD>AE014075.1
<TD>2067764
<TD>del
<TD>CT
<TD>C
<TD>C:94 CT:1
<TR>
<TD>AE014075.1
<TD>2067779
<TD>complex
<TD>AGTCN
<TD>GC
<TD>GC:79 AGTCN:0
<TR>
<TD>AE014075.1
<TD>2067814
<TD>del
<TD>AC
<TD>A
<TD>A:88 AC:0
<TR>
<TD>AE014075.1
<TD>2067869
<TD>snp
<TD>N
<TD>T
<TD>T:81 N:0
<TR>
<TD>AE014075.1
<TD>2067904
<TD>snp
<TD>N
<TD>T
<TD>T:95 N:0
<TR>
<TD>AE014075.1
<TD>2067926
<TD>snp
<TD>N
<TD>T
<TD>T:93 N:0
<TR>
<TD>AE014075.1
<TD>2067933
<TD>snp
<TD>N
<TD>T
<TD>T:93 N:0
<TR>
<TD>AE014075.1
<TD>2075040
<TD>snp
<TD>C
<TD>A
<TD>A:72 C:0
<TR>
<TD>AE014075.1
<TD>2076619
<TD>snp
<TD>N
<TD>G
<TD>G:93 N:0
<TR>
<TD>AE014075.1
<TD>2081705
<TD>snp
<TD>N
<TD>A
<TD>A:85 N:0
<TR>
<TD>AE014075.1
<TD>2083140
<TD>del
<TD>GA
<TD>G
<TD>G:88 GA:0
<TR>
<TD>AE014075.1
<TD>2083168
<TD>ins
<TD>A
<TD>AT
<TD>AT:81 A:0
<TR>
<TD>AE014075.1
<TD>2102449
<TD>snp
<TD>T
<TD>C
<TD>C:85 T:0
<TR>
<TD>AE014075.1
<TD>2128275
<TD>complex
<TD>NAGAN
<TD>TTGAA
<TD>TTGAA:94 NAGAN:0
<TR>
<TD>AE014075.1
<TD>2128303
<TD>snp
<TD>N
<TD>T
<TD>T:118 N:0
<TR>
<TD>AE014075.1
<TD>2128339
<TD>snp
<TD>N
<TD>T
<TD>T:119 N:0
<TR>
<TD>AE014075.1
<TD>2193644
<TD>snp
<TD>T
<TD>G
<TD>G:117 T:0
<TR>
<TD>AE014075.1
<TD>2228759
<TD>snp
<TD>T
<TD>G
<TD>G:98 T:0
<TR>
<TD>AE014075.1
<TD>2236183
<TD>del
<TD>TC
<TD>T
<TD>T:94 TC:0
<TR>
<TD>AE014075.1
<TD>2239009
<TD>ins
<TD>G
<TD>GC
<TD>GC:77 G:0
<TR>
<TD>AE014075.1
<TD>2239019
<TD>complex
<TD>CA
<TD>GCAG
<TD>GCAG:74 CA:0
<TR>
<TD>AE014075.1
<TD>2239025
<TD>complex
<TD>AA
<TD>CAAG
<TD>CAAG:73 AA:0
<TR>
<TD>AE014075.1
<TD>2246659
<TD>ins
<TD>A
<TD>AG
<TD>AG:70 A:0
<TR>
<TD>AE014075.1
<TD>2249443
<TD>snp
<TD>C
<TD>A
<TD>A:108 C:0
<TR>
<TD>AE014075.1
<TD>2253390
<TD>ins
<TD>T
<TD>TA
<TD>TA:87 T:0
<TR>
<TD>AE014075.1
<TD>2253407
<TD>ins
<TD>A
<TD>AT
<TD>AT:84 A:0
<TR>
<TD>AE014075.1
<TD>2270987
<TD>del
<TD>CA
<TD>C
<TD>C:94 CA:0
<TR>
<TD>AE014075.1
<TD>2299717
<TD>complex
<TD>NGT
<TD>CGC
<TD>CGC:80 NGT:0
<TR>
<TD>AE014075.1
<TD>2299739
<TD>snp
<TD>T
<TD>C
<TD>C:78 T:0
<TR>
<TD>AE014075.1
<TD>2299987
<TD>snp
<TD>N
<TD>A
<TD>A:99 N:0
<TR>
<TD>AE014075.1
<TD>2308234
<TD>snp
<TD>G
<TD>C
<TD>C:81 G:0
<TR>
<TD>AE014075.1
<TD>2308288
<TD>del
<TD>CG
<TD>C
<TD>C:87 CG:0
<TR>
<TD>AE014075.1
<TD>2331033
<TD>del
<TD>AC
<TD>A
<TD>A:98 AC:0
<TR>
<TD>AE014075.1
<TD>2331065
<TD>del
<TD>GC
<TD>G
<TD>G:93 GC:0
<TR>
<TD>AE014075.1
<TD>2331082
<TD>snp
<TD>N
<TD>T
<TD>T:102 N:0
<TR>
<TD>AE014075.1
<TD>2331098
<TD>snp
<TD>N
<TD>T
<TD>T:101 N:0
<TR>
<TD>AE014075.1
<TD>2340072
<TD>del
<TD>AC
<TD>A
<TD>A:79 AC:0
<TR>
<TD>AE014075.1
<TD>2376670
<TD>snp
<TD>A
<TD>G
<TD>G:92 A:0
<TR>
<TD>AE014075.1
<TD>2401145
<TD>snp
<TD>G
<TD>T
<TD>T:94 G:0
<TR>
<TD>AE014075.1
<TD>2423422
<TD>snp
<TD>A
<TD>G
<TD>G:89 A:0
<TR>
<TD>AE014075.1
<TD>2423495
<TD>ins
<TD>A
<TD>AG
<TD>AG:77 A:0
<TR>
<TD>AE014075.1
<TD>2423501
<TD>mnp
<TD>AG
<TD>GC
<TD>GC:80 AG:0
<TR>
<TD>AE014075.1
<TD>2423537
<TD>ins
<TD>T
<TD>TC
<TD>TC:98 T:0
<TR>
<TD>AE014075.1
<TD>2423547
<TD>complex
<TD>NTCC
<TD>CTCCG
<TD>CTCCG:102 NTCC:0
<TR>
<TD>AE014075.1
<TD>2424142
<TD>ins
<TD>G
<TD>GT
<TD>GT:92 G:0
<TR>
<TD>AE014075.1
<TD>2438239
<TD>snp
<TD>A
<TD>G
<TD>G:115 A:0
<TR>
<TD>AE014075.1
<TD>2465571
<TD>snp
<TD>N
<TD>T
<TD>T:95 N:0
<TR>
<TD>AE014075.1
<TD>2465649
<TD>snp
<TD>N
<TD>C
<TD>C:93 N:0
<TR>
<TD>AE014075.1
<TD>2471351
<TD>snp
<TD>C
<TD>A
<TD>A:98 C:0
<TR>
<TD>AE014075.1
<TD>2471367
<TD>snp
<TD>N
<TD>C
<TD>C:105 N:0
<TR>
<TD>AE014075.1
<TD>2471374
<TD>snp
<TD>T
<TD>C
<TD>C:105 T:0
<TR>
<TD>AE014075.1
<TD>2471379
<TD>snp
<TD>N
<TD>C
<TD>C:108 N:0
<TR>
<TD>AE014075.1
<TD>2471385
<TD>snp
<TD>N
<TD>C
<TD>C:102 N:0
<TR>
<TD>AE014075.1
<TD>2471392
<TD>snp
<TD>N
<TD>C
<TD>C:106 N:0
<TR>
<TD>AE014075.1
<TD>2471399
<TD>snp
<TD>A
<TD>C
<TD>C:100 A:0
<TR>
<TD>AE014075.1
<TD>2471409
<TD>snp
<TD>N
<TD>C
<TD>C:95 N:0
<TR>
<TD>AE014075.1
<TD>2471421
<TD>snp
<TD>T
<TD>C
<TD>C:102 T:0
<TR>
<TD>AE014075.1
<TD>2480039
<TD>snp
<TD>N
<TD>C
<TD>C:74 N:0
<TR>
<TD>AE014075.1
<TD>2511506
<TD>snp
<TD>N
<TD>G
<TD>G:96 N:0
<TR>
<TD>AE014075.1
<TD>2548525
<TD>snp
<TD>N
<TD>G
<TD>G:92 N:0
<TR>
<TD>AE014075.1
<TD>2548531
<TD>snp
<TD>T
<TD>A
<TD>A:94 T:0
<TR>
<TD>AE014075.1
<TD>2548564
<TD>complex
<TD>GCNT
<TD>ACAA
<TD>ACAA:104 GCNT:0
<TR>
<TD>AE014075.1
<TD>2548581
<TD>complex
<TD>GACGGAA
<TD>ACGAC
<TD>ACGAC:92 GACGGAA:0
<TR>
<TD>AE014075.1
<TD>2548592
<TD>snp
<TD>A
<TD>T
<TD>T:95 A:0
<TR>
<TD>AE014075.1
<TD>2585246
<TD>snp
<TD>N
<TD>T
<TD>T:118 N:0
<TR>
<TD>AE014075.1
<TD>2687834
<TD>complex
<TD>CN
<TD>AA
<TD>AA:107 CN:0
<TR>
<TD>AE014075.1
<TD>2721443
<TD>snp
<TD>G
<TD>C
<TD>C:92 G:0
<TR>
<TD>AE014075.1
<TD>2721448
<TD>ins
<TD>T
<TD>TA
<TD>TA:94 T:0
<TR>
<TD>AE014075.1
<TD>2721483
<TD>ins
<TD>G
<TD>GA
<TD>GA:90 G:0
<TR>
<TD>AE014075.1
<TD>2748628
<TD>snp
<TD>N
<TD>G
<TD>G:52 N:0
<TR>
<TD>AE014075.1
<TD>2748640
<TD>snp
<TD>N
<TD>G
<TD>G:67 N:0
<TR>
<TD>AE014075.1
<TD>2748679
<TD>snp
<TD>N
<TD>A
<TD>A:83 N:0
<TR>
<TD>AE014075.1
<TD>2748720
<TD>del
<TD>CA
<TD>C
<TD>C:86 CA:0
<TR>
<TD>AE014075.1
<TD>2748755
<TD>del
<TD>CA
<TD>C
<TD>C:82 CA:0
<TR>
<TD>AE014075.1
<TD>2766797
<TD>snp
<TD>N
<TD>T
<TD>T:111 N:0
<TR>
<TD>AE014075.1
<TD>2780570
<TD>snp
<TD>T
<TD>C
<TD>C:99 T:0
<TR>
<TD>AE014075.1
<TD>2780697
<TD>snp
<TD>G
<TD>T
<TD>T:83 G:0
<TR>
<TD>AE014075.1
<TD>2780702
<TD>ins
<TD>G
<TD>GC
<TD>GC:68 G:0
<TR>
<TD>AE014075.1
<TD>2780707
<TD>snp
<TD>G
<TD>A
<TD>A:71 G:0
<TR>
<TD>AE014075.1
<TD>2814186
<TD>snp
<TD>N
<TD>T
<TD>T:90 N:0
<TR>
<TD>AE014075.1
<TD>2814268
<TD>ins
<TD>G
<TD>GT
<TD>GT:102 G:0
<TR>
<TD>AE014075.1
<TD>2814336
<TD>del
<TD>CT
<TD>C
<TD>C:94 CT:0
<TR>
<TD>AE014075.1
<TD>2814348
<TD>snp
<TD>N
<TD>C
<TD>C:115 N:0
<TR>
<TD>AE014075.1
<TD>2814411
<TD>del
<TD>AT
<TD>A
<TD>A:104 AT:0
<TR>
<TD>AE014075.1
<TD>2814979
<TD>del
<TD>TC
<TD>T
<TD>T:98 TC:0
<TR>
<TD>AE014075.1
<TD>2901542
<TD>snp
<TD>A
<TD>G
<TD>G:91 A:0
<TR>
<TD>AE014075.1
<TD>2948622
<TD>del
<TD>CG
<TD>C
<TD>C:99 CG:0
<TR>
<TD>AE014075.1
<TD>2974631
<TD>snp
<TD>N
<TD>G
<TD>G:82 N:0
<TR>
<TD>AE014075.1
<TD>2974757
<TD>snp
<TD>N
<TD>C
<TD>C:90 N:0
<TR>
<TD>AE014075.1
<TD>2974773
<TD>snp
<TD>N
<TD>T
<TD>T:91 N:0
<TR>
<TD>AE014075.1
<TD>2979975
<TD>snp
<TD>N
<TD>G
<TD>G:110 N:0
<TR>
<TD>AE014075.1
<TD>2980131
<TD>snp
<TD>N
<TD>G
<TD>G:80 N:0
<TR>
<TD>AE014075.1
<TD>2980135
<TD>del
<TD>AT
<TD>A
<TD>A:72 AT:0
<TR>
<TD>AE014075.1
<TD>3018449
<TD>snp
<TD>A
<TD>G
<TD>G:87 A:1
<TR>
<TD>AE014075.1
<TD>3018475
<TD>snp
<TD>N
<TD>G
<TD>G:83 N:0
<TR>
<TD>AE014075.1
<TD>3018503
<TD>snp
<TD>A
<TD>G
<TD>G:66 A:1
<TR>
<TD>AE014075.1
<TD>3018547
<TD>snp
<TD>N
<TD>G
<TD>G:51 N:0
<TR>
<TD>AE014075.1
<TD>3018552
<TD>mnp
<TD>CT
<TD>GA
<TD>GA:43 CT:0
<TR>
<TD>AE014075.1
<TD>3018566
<TD>complex
<TD>NGCN
<TD>AACA
<TD>AACA:52 NGCN:0
<TR>
<TD>AE014075.1
<TD>3018606
<TD>complex
<TD>CAGGG
<TD>ACCGA
<TD>ACCGA:49 CAGGG:0
<TR>
<TD>AE014075.1
<TD>3018615
<TD>snp
<TD>G
<TD>A
<TD>A:54 G:0
<TR>
<TD>AE014075.1
<TD>3018622
<TD>snp
<TD>A
<TD>G
<TD>G:63 A:0
<TR>
<TD>AE014075.1
<TD>3049227
<TD>del
<TD>CA
<TD>C
<TD>C:93 CA:0
<TR>
<TD>AE014075.1
<TD>3055263
<TD>snp
<TD>N
<TD>G
<TD>G:105 N:0
<TR>
<TD>AE014075.1
<TD>3081040
<TD>ins
<TD>T
<TD>TC
<TD>TC:89 T:0
<TR>
<TD>AE014075.1
<TD>3081074
<TD>ins
<TD>G
<TD>GC
<TD>GC:97 G:0
<TR>
<TD>AE014075.1
<TD>3090058
<TD>del
<TD>CT
<TD>C
<TD>C:119 CT:0
<TR>
<TD>AE014075.1
<TD>3115832
<TD>del
<TD>AC
<TD>A
<TD>A:81 AC:0
<TR>
<TD>AE014075.1
<TD>3156554
<TD>del
<TD>CCA
<TD>C
<TD>C:101 CCA:0
<TR>
<TD>AE014075.1
<TD>3168282
<TD>complex
<TD>CN
<TD>C
<TD>C:106 CN:0
<TR>
<TD>AE014075.1
<TD>3173132
<TD>snp
<TD>G
<TD>T
<TD>T:108 G:0
<TR>
<TD>AE014075.1
<TD>3194070
<TD>complex
<TD>TT
<TD>C
<TD>C:87 TT:0
<TR>
<TD>AE014075.1
<TD>3194083
<TD>del
<TD>CA
<TD>C
<TD>C:88 CA:0
<TR>
<TD>AE014075.1
<TD>3209757
<TD>snp
<TD>G
<TD>T
<TD>T:114 G:0
<TR>
<TD>AE014075.1
<TD>3212408
<TD>ins
<TD>G
<TD>GA
<TD>GA:93 G:0
<TR>
<TD>AE014075.1
<TD>3216460
<TD>snp
<TD>N
<TD>C
<TD>C:88 N:0
<TR>
<TD>AE014075.1
<TD>3216470
<TD>snp
<TD>N
<TD>C
<TD>C:86 N:0
<TR>
<TD>AE014075.1
<TD>3245777
<TD>ins
<TD>T
<TD>TG
<TD>TG:119 T:0
<TR>
<TD>AE014075.1
<TD>3245794
<TD>ins
<TD>T
<TD>TG
<TD>TG:120 T:0
<TR>
<TD>AE014075.1
<TD>3374188
<TD>ins
<TD>T
<TD>TG
<TD>TG:93 T:0
<TR>
<TD>AE014075.1
<TD>3374200
<TD>ins
<TD>C
<TD>CA
<TD>CA:86 C:0
<TR>
<TD>AE014075.1
<TD>3374232
<TD>complex
<TD>TA
<TD>ATAG
<TD>ATAG:73 TA:0
<TR>
<TD>AE014075.1
<TD>3374237
<TD>ins
<TD>T
<TD>TA
<TD>TA:76 T:0
<TR>
<TD>AE014075.1
<TD>3382253
<TD>complex
<TD>ACGG
<TD>CCGC
<TD>CCGC:105 ACGG:0
<TR>
<TD>AE014075.1
<TD>3388606
<TD>snp
<TD>C
<TD>T
<TD>T:85 C:0
<TR>
<TD>AE014075.1
<TD>3419563
<TD>snp
<TD>C
<TD>A
<TD>A:102 C:1
<TR>
<TD>AE014075.1
<TD>3471724
<TD>ins
<TD>C
<TD>CA
<TD>CA:69 C:0
<TR>
<TD>AE014075.1
<TD>3471750
<TD>snp
<TD>T
<TD>A
<TD>A:78 T:0
<TR>
<TD>AE014075.1
<TD>3471756
<TD>complex
<TD>CG
<TD>GA
<TD>GA:55 CG:0
<TR>
<TD>AE014075.1
<TD>3471761
<TD>ins
<TD>G
<TD>GA
<TD>GA:55 G:0
<TR>
<TD>AE014075.1
<TD>3471772
<TD>complex
<TD>GTAC
<TD>TTACA
<TD>TTACA:65 GTAC:0
<TR>
<TD>AE014075.1
<TD>3471794
<TD>ins
<TD>G
<TD>GT
<TD>GT:76 G:0
<TR>
<TD>AE014075.1
<TD>3471801
<TD>ins
<TD>A
<TD>AG
<TD>AG:80 A:0
<TR>
<TD>AE014075.1
<TD>3471807
<TD>ins
<TD>G
<TD>GA
<TD>GA:81 G:0
<TR>
<TD>AE014075.1
<TD>3471822
<TD>ins
<TD>A
<TD>AG
<TD>AG:80 A:0
<TR>
<TD>AE014075.1
<TD>3471837
<TD>complex
<TD>GGG
<TD>AGGT
<TD>AGGT:71 GGG:0
<TR>
<TD>AE014075.1
<TD>3471843
<TD>ins
<TD>T
<TD>TA
<TD>TA:71 T:0
<TR>
<TD>AE014075.1
<TD>3471863
<TD>ins
<TD>C
<TD>CT
<TD>CT:79 C:0
<TR>
<TD>AE014075.1
<TD>3471916
<TD>complex
<TD>TTT
<TD>CTC
<TD>CTC:82 TTT:0
<TR>
<TD>AE014075.1
<TD>3471947
<TD>snp
<TD>G
<TD>A
<TD>A:97 G:0
<TR>
<TD>AE014075.1
<TD>3471971
<TD>ins
<TD>G
<TD>GT
<TD>GT:97 G:0
<TR>
<TD>AE014075.1
<TD>3472825
<TD>snp
<TD>G
<TD>A
<TD>A:83 G:0
<TR>
<TD>AE014075.1
<TD>3472837
<TD>del
<TD>CG
<TD>C
<TD>C:83 CG:0
<TR>
<TD>AE014075.1
<TD>3472877
<TD>snp
<TD>N
<TD>A
<TD>A:80 N:0
<TR>
<TD>AE014075.1
<TD>3472892
<TD>snp
<TD>N
<TD>A
<TD>A:76 N:0
<TR>
<TD>AE014075.1
<TD>3472903
<TD>complex
<TD>CCCACC
<TD>ACAAA
<TD>ACAAA:67 CCCACC:0
<TR>
<TD>AE014075.1
<TD>3472955
<TD>del
<TD>CG
<TD>C
<TD>C:94 CG:0
<TR>
<TD>AE014075.1
<TD>3479967
<TD>del
<TD>CA
<TD>C
<TD>C:42 CA:0
<TR>
<TD>AE014075.1
<TD>3479973
<TD>del
<TD>CT
<TD>C
<TD>C:42 CT:1
<TR>
<TD>AE014075.1
<TD>3479980
<TD>snp
<TD>A
<TD>T
<TD>T:52 A:0
<TR>
<TD>AE014075.1
<TD>3479999
<TD>complex
<TD>ATA
<TD>CTC
<TD>CTC:45 ATA:0
<TR>
<TD>AE014075.1
<TD>3480013
<TD>del
<TD>GA
<TD>G
<TD>G:34 GA:0
<TR>
<TD>AE014075.1
<TD>3480025
<TD>snp
<TD>T
<TD>A
<TD>A:34 T:0
<TR>
<TD>AE014075.1
<TD>3480031
<TD>del
<TD>GA
<TD>G
<TD>G:34 GA:0
<TR>
<TD>AE014075.1
<TD>3480037
<TD>snp
<TD>G
<TD>C
<TD>C:34 G:0
<TR>
<TD>AE014075.1
<TD>3480042
<TD>complex
<TD>NTN
<TD>TCT
<TD>TCT:34 NTN:0
<TR>
<TD>AE014075.1
<TD>3480053
<TD>snp
<TD>C
<TD>A
<TD>A:45 C:1
<TR>
<TD>AE014075.1
<TD>3480058
<TD>snp
<TD>C
<TD>A
<TD>A:58 C:0
<TR>
<TD>AE014075.1
<TD>3480070
<TD>snp
<TD>C
<TD>A
<TD>A:65 C:0
<TR>
<TD>AE014075.1
<TD>3579320
<TD>del
<TD>AG
<TD>A
<TD>A:118 AG:0
<TR>
<TD>AE014075.1
<TD>3582580
<TD>snp
<TD>T
<TD>C
<TD>C:88 T:0
<TR>
<TD>AE014075.1
<TD>3616037
<TD>snp
<TD>N
<TD>G
<TD>G:97 N:0
<TR>
<TD>AE014075.1
<TD>3619371
<TD>snp
<TD>N
<TD>C
<TD>C:128 N:0
<TR>
<TD>AE014075.1
<TD>3637305
<TD>snp
<TD>A
<TD>G
<TD>G:108 A:0
<TR>
<TD>AE014075.1
<TD>3653658
<TD>snp
<TD>N
<TD>G
<TD>G:97 N:0
<TR>
<TD>AE014075.1
<TD>3654729
<TD>del
<TD>TC
<TD>T
<TD>T:106 TC:0
<TR>
<TD>AE014075.1
<TD>3654748
<TD>del
<TD>AG
<TD>A
<TD>A:103 AG:0
<TR>
<TD>AE014075.1
<TD>3658183
<TD>snp
<TD>C
<TD>G
<TD>G:97 C:0
<TR>
<TD>AE014075.1
<TD>3685066
<TD>snp
<TD>N
<TD>A
<TD>A:95 N:0
<TR>
<TD>AE014075.1
<TD>3685075
<TD>snp
<TD>C
<TD>G
<TD>G:92 C:0
<TR>
<TD>AE014075.1
<TD>3685116
<TD>snp
<TD>N
<TD>C
<TD>C:97 N:0
<TR>
<TD>AE014075.1
<TD>3691403
<TD>del
<TD>CT
<TD>C
<TD>C:94 CT:0
<TR>
<TD>AE014075.1
<TD>3691408
<TD>del
<TD>CA
<TD>C
<TD>C:93 CA:0
<TR>
<TD>AE014075.1
<TD>3696321
<TD>snp
<TD>C
<TD>T
<TD>T:114 C:0
<TR>
<TD>AE014075.1
<TD>3696339
<TD>complex
<TD>AGTC
<TD>GTT
<TD>GTT:96 AGTC:0
<TR>
<TD>AE014075.1
<TD>3716969
<TD>snp
<TD>N
<TD>C
<TD>C:110 N:0
<TR>
<TD>AE014075.1
<TD>3716984
<TD>snp
<TD>N
<TD>T
<TD>T:109 N:0
<TR>
<TD>AE014075.1
<TD>3718063
<TD>snp
<TD>G
<TD>C
<TD>C:109 G:0
<TR>
<TD>AE014075.1
<TD>3718095
<TD>snp
<TD>N
<TD>T
<TD>T:121 N:0
<TR>
<TD>AE014075.1
<TD>3758973
<TD>del
<TD>CA
<TD>C
<TD>C:109 CA:0
<TR>
<TD>AE014075.1
<TD>3759372
<TD>snp
<TD>N
<TD>C
<TD>C:119 N:0
<TR>
<TD>AE014075.1
<TD>3767785
<TD>complex
<TD>GCAG
<TD>ACAA
<TD>ACAA:96 GCAG:0
<TR>
<TD>AE014075.1
<TD>3807968
<TD>snp
<TD>N
<TD>C
<TD>C:120 N:0
<TR>
<TD>AE014075.1
<TD>3825303
<TD>snp
<TD>G
<TD>C
<TD>C:105 G:0
<TR>
<TD>AE014075.1
<TD>3830107
<TD>snp
<TD>C
<TD>G
<TD>G:99 C:0
<TR>
<TD>AE014075.1
<TD>3915948
<TD>snp
<TD>N
<TD>C
<TD>C:97 N:0
<TR>
<TD>AE014075.1
<TD>3915986
<TD>snp
<TD>N
<TD>G
<TD>G:96 N:0
<TR>
<TD>AE014075.1
<TD>3938522
<TD>del
<TD>CG
<TD>C
<TD>C:85 CG:0
<TR>
<TD>AE014075.1
<TD>4039968
<TD>snp
<TD>N
<TD>C
<TD>C:84 N:0
<TR>
<TD>AE014075.1
<TD>4062161
<TD>ins
<TD>G
<TD>GC
<TD>GC:58 G:0
<TR>
<TD>AE014075.1
<TD>4062287
<TD>snp
<TD>N
<TD>A
<TD>A:98 N:0
<TR>
<TD>AE014075.1
<TD>4147366
<TD>snp
<TD>T
<TD>A
<TD>A:120 T:0
<TR>
<TD>AE014075.1
<TD>4147371
<TD>snp
<TD>C
<TD>A
<TD>A:116 C:0
<TR>
<TD>AE014075.1
<TD>4147452
<TD>del
<TD>AT
<TD>A
<TD>A:107 AT:0
<TR>
<TD>AE014075.1
<TD>4147460
<TD>ins
<TD>A
<TD>AG
<TD>AG:103 A:0
<TR>
<TD>AE014075.1
<TD>4147484
<TD>snp
<TD>A
<TD>G
<TD>G:100 A:0
<TR>
<TD>AE014075.1
<TD>4163154
<TD>snp
<TD>A
<TD>G
<TD>G:120 A:0
<TR>
<TD>AE014075.1
<TD>4163163
<TD>complex
<TD>NAAGTCA
<TD>GACGTCG
<TD>GACGTCG:113 NAAGTCA:0
<TR>
<TD>AE014075.1
<TD>4163200
<TD>snp
<TD>C
<TD>G
<TD>G:106 C:0
<TR>
<TD>AE014075.1
<TD>4163251
<TD>snp
<TD>C
<TD>A
<TD>A:118 C:0
<TR>
<TD>AE014075.1
<TD>4231063
<TD>snp
<TD>C
<TD>A
<TD>A:130 C:0
<TR>
<TD>AE014075.1
<TD>4231081
<TD>snp
<TD>G
<TD>T
<TD>T:130 G:1
<TR>
<TD>AE014075.1
<TD>4270026
<TD>complex
<TD>TAC
<TD>A
<TD>A:81 TAC:0
<TR>
<TD>AE014075.1
<TD>4273218
<TD>snp
<TD>N
<TD>G
<TD>G:95 N:0
<TR>
<TD>AE014075.1
<TD>4281018
<TD>del
<TD>GC
<TD>G
<TD>G:109 GC:0
<TR>
<TD>AE014075.1
<TD>4281148
<TD>snp
<TD>N
<TD>T
<TD>T:114 N:0
<TR>
<TD>AE014075.1
<TD>4302384
<TD>snp
<TD>A
<TD>T
<TD>T:113 A:0
<TR>
<TD>AE014075.1
<TD>4302391
<TD>snp
<TD>N
<TD>C
<TD>C:114 N:0
<TR>
<TD>AE014075.1
<TD>4302439
<TD>snp
<TD>N
<TD>T
<TD>T:96 N:0
<TR>
<TD>AE014075.1
<TD>4302445
<TD>snp
<TD>N
<TD>T
<TD>T:90 N:0
<TR>
<TD>AE014075.1
<TD>4302456
<TD>complex
<TD>NGGG
<TD>TTT
<TD>TTT:85 NGGG:0
<TR>
<TD>AE014075.1
<TD>4302466
<TD>snp
<TD>N
<TD>T
<TD>T:91 N:0
<TR>
<TD>AE014075.1
<TD>4311960
<TD>del
<TD>CT
<TD>C
<TD>C:91 CT:0
<TR>
<TD>AE014075.1
<TD>4312046
<TD>del
<TD>CA
<TD>C
<TD>C:98 CA:0
<TR>
<TD>AE014075.1
<TD>4321061
<TD>snp
<TD>N
<TD>A
<TD>A:54 N:0
<TR>
<TD>AE014075.1
<TD>4331693
<TD>ins
<TD>T
<TD>TC
<TD>TC:134 T:0
<TR>
<TD>AE014075.1
<TD>4331731
<TD>complex
<TD>G
<TD>TA
<TD>TA:112 G:0
<TR>
<TD>AE014075.1
<TD>4331745
<TD>snp
<TD>C
<TD>A
<TD>A:140 C:0
<TR>
<TD>AE014075.1
<TD>4364757
<TD>complex
<TD>NNGCN
<TD>TTGTA
<TD>TTGTA:78 NNGCN:0
<TR>
<TD>AE014075.1
<TD>4374827
<TD>del
<TD>AC
<TD>A
<TD>A:76 AC:0
<TR>
<TD>AE014075.1
<TD>4377580
<TD>snp
<TD>A
<TD>T
<TD>T:81 A:0
<TR>
<TD>AE014075.1
<TD>4377593
<TD>del
<TD>CG
<TD>C
<TD>C:77 CG:0
<TR>
<TD>AE014075.1
<TD>4377710
<TD>ins
<TD>G
<TD>GT
<TD>GT:95 G:0
<TR>
<TD>AE014075.1
<TD>4384771
<TD>del
<TD>AC
<TD>A
<TD>A:112 AC:0
<TR>
<TD>AE014075.1
<TD>4411010
<TD>snp
<TD>C
<TD>A
<TD>A:75 C:3
<TR>
<TD>AE014075.1
<TD>4411089
<TD>snp
<TD>A
<TD>C
<TD>C:85 A:0
<TR>
<TD>AE014075.1
<TD>4411099
<TD>complex
<TD>GGGGG
<TD>CGGGC
<TD>CGGGC:75 GGGGG:0
<TR>
<TD>AE014075.1
<TD>4442705
<TD>snp
<TD>N
<TD>A
<TD>A:33 N:0
<TR>
<TD>AE014075.1
<TD>4450750
<TD>del
<TD>GC
<TD>G
<TD>G:90 GC:0
<TR>
<TD>AE014075.1
<TD>4486567
<TD>snp
<TD>N
<TD>T
<TD>T:108 N:0
<TR>
<TD>AE014075.1
<TD>4486576
<TD>snp
<TD>N
<TD>C
<TD>C:114 N:0
<TR>
<TD>AE014075.1
<TD>4562751
<TD>snp
<TD>T
<TD>A
<TD>A:197 T:1
<TR>
<TD>AE014075.1
<TD>4562757
<TD>snp
<TD>A
<TD>C
<TD>C:201 A:0
<TR>
<TD>AE014075.1
<TD>4562891
<TD>snp
<TD>G
<TD>C
<TD>C:314 G:0
<TR>
<TD>AE014075.1
<TD>4564309
<TD>del
<TD>CT
<TD>C
<TD>C:213 CT:0
<TR>
<TD>AE014075.1
<TD>4564417
<TD>del
<TD>CA
<TD>C
<TD>C:174 CA:0
<TR>
<TD>AE014075.1
<TD>4564467
<TD>snp
<TD>N
<TD>G
<TD>G:58 N:0
<TR>
<TD>AE014075.1
<TD>4568378
<TD>snp
<TD>N
<TD>A
<TD>A:105 N:0
<TR>
<TD>AE014075.1
<TD>4573131
<TD>ins
<TD>C
<TD>CT
<TD>CT:80 C:0
<TR>
<TD>AE014075.1
<TD>4697867
<TD>snp
<TD>N
<TD>T
<TD>T:96 N:0
<TR>
<TD>AE014075.1
<TD>4697893
<TD>snp
<TD>N
<TD>G
<TD>G:99 N:0
<TR>
<TD>AE014075.1
<TD>4697924
<TD>complex
<TD>AGGTN
<TD>CGGTG
<TD>CGGTG:88 AGGTN:0
<TR>
<TD>AE014075.1
<TD>4718689
<TD>snp
<TD>N
<TD>G
<TD>G:107 N:0
<TR>
<TD>AE014075.1
<TD>4719138
<TD>snp
<TD>N
<TD>G
<TD>G:116 N:0
<TR>
<TD>AE014075.1
<TD>4719166
<TD>mnp
<TD>NN
<TD>GT
<TD>GT:88 NN:0
<TR>
<TD>AE014075.1
<TD>4719186
<TD>snp
<TD>N
<TD>A
<TD>A:97 N:0
<TR>
<TD>AE014075.1
<TD>4719201
<TD>complex
<TD>NCGN
<TD>CCGT
<TD>CCGT:77 NCGN:0
<TR>
<TD>AE014075.1
<TD>4739127
<TD>snp
<TD>N
<TD>A
<TD>A:25 N:0
<TR>
<TD>AE014075.1
<TD>4741565
<TD>snp
<TD>C
<TD>A
<TD>A:26 C:0
<TR>
<TD>AE014075.1
<TD>4748027
<TD>snp
<TD>A
<TD>C
<TD>C:98 A:0
<TR>
<TD>AE014075.1
<TD>4749461
<TD>snp
<TD>N
<TD>C
<TD>C:101 N:0
<TR>
<TD>AE014075.1
<TD>4863747
<TD>snp
<TD>A
<TD>C
<TD>C:89 A:1
<TR>
<TD>AE014075.1
<TD>4863786
<TD>snp
<TD>N
<TD>G
<TD>G:84 N:0
<TR>
<TD>AE014075.1
<TD>4863939
<TD>snp
<TD>A
<TD>G
<TD>G:93 A:0
<TR>
<TD>AE014075.1
<TD>4873866
<TD>snp
<TD>A
<TD>C
<TD>C:98 A:0
<TR>
<TD>AE014075.1
<TD>4874536
<TD>snp
<TD>T
<TD>C
<TD>C:110 T:0
<TR>
<TD>AE014075.1
<TD>4874554
<TD>snp
<TD>T
<TD>C
<TD>C:103 T:0
<TR>
<TD>AE014075.1
<TD>4874566
<TD>snp
<TD>N
<TD>C
<TD>C:96 N:0
<TR>
<TD>AE014075.1
<TD>4874581
<TD>snp
<TD>G
<TD>T
<TD>T:97 G:0
<TR>
<TD>AE014075.1
<TD>4874618
<TD>snp
<TD>T
<TD>C
<TD>C:88 T:0
<TR>
<TD>AE014075.1
<TD>4987964
<TD>snp
<TD>T
<TD>G
<TD>G:125 T:0
<TR>
<TD>AE014075.1
<TD>4988540
<TD>snp
<TD>T
<TD>C
<TD>C:109 T:0
<TR>
<TD>AE014075.1
<TD>4998140
<TD>snp
<TD>G
<TD>A
<TD>A:120 G:0
<TR>
<TD>AE014075.1
<TD>4998180
<TD>snp
<TD>N
<TD>G
<TD>G:114 N:0
<TR>
<TD>AE014075.1
<TD>5020352
<TD>ins
<TD>G
<TD>GA
<TD>GA:77 G:0
<TR>
<TD>AE014075.1
<TD>5020567
<TD>complex
<TD>NNATN
<TD>AAATA
<TD>AAATA:101 NNATN:0
<TR>
<TD>AE014075.1
<TD>5020584
<TD>snp
<TD>G
<TD>A
<TD>A:112 G:0
<TR>
<TD>AE014075.1
<TD>5021298
<TD>ins
<TD>G
<TD>GT
<TD>GT:59 G:0
<TR>
<TD>AE014075.1
<TD>5021317
<TD>snp
<TD>T
<TD>G
<TD>G:77 T:0
<TR>
<TD>AE014075.1
<TD>5098470
<TD>snp
<TD>N
<TD>A
<TD>A:100 N:0
<TR>
<TD>AE014075.1
<TD>5099012
<TD>del
<TD>TG
<TD>T
<TD>T:101 TG:0
<TR>
<TD>AE014075.1
<TD>5181247
<TD>del
<TD>CA
<TD>C
<TD>C:87 CA:0
<TR>
<TD>AE014075.1
<TD>5181286
<TD>del
<TD>CG
<TD>C
<TD>C:104 CG:0
</TABLE>
