<TABLE ID='snps' BORDER=1>
<TR>
<TH>CHROM
<TH>POS
<TH>TYPE
<TH>REF
<TH>ALT
<TH>EVIDENCE
<TH>FTYPE
<TH>STRAND
<TH>NT_POS
<TH>AA_POS
<TH>EFFECT
<TH>LOCUS_TAG
<TH>GENE
<TH>PRODUCT
<TR>
<TD>NC_002516.2
<TD>169283
<TD>del
<TD>CG
<TD>C
<TD>C:111 CG:0
<TR>
<TD>NC_002516.2
<TD>183697
<TD>snp
<TD>T
<TD>G
<TD>G:129 T:0
<TR>
<TD>NC_002516.2
<TD>411125
<TD>del
<TD>AC
<TD>A
<TD>A:60 AC:0
<TR>
<TD>NC_002516.2
<TD>413850
<TD>snp
<TD>T
<TD>C
<TD>C:51 T:0
<TR>
<TD>NC_002516.2
<TD>667028
<TD>ins
<TD>G
<TD>GC
<TD>GC:118 G:0
<TR>
<TD>NC_002516.2
<TD>721611
<TD>snp
<TD>C
<TD>T
<TD>T:55 C:1
<TR>
<TD>NC_002516.2
<TD>721622
<TD>snp
<TD>C
<TD>T
<TD>T:50 C:0
<TR>
<TD>NC_002516.2
<TD>721663
<TD>complex
<TD>TCCCAGGA
<TD>CTCCGGGG
<TD>CTCCGGGG:16 TCCCAGGA:0
<TR>
<TD>NC_002516.2
<TD>740419
<TD>ins
<TD>G
<TD>GC
<TD>GC:99 G:0
<TR>
<TD>NC_002516.2
<TD>816529
<TD>ins
<TD>G
<TD>GC
<TD>GC:109 G:0
<TR>
<TD>NC_002516.2
<TD>891099
<TD>ins
<TD>A
<TD>AC
<TD>AC:92 A:0
<TR>
<TD>NC_002516.2
<TD>1116213
<TD>ins
<TD>G
<TD>GC
<TD>GC:130 G:0
<TR>
<TD>NC_002516.2
<TD>1215657
<TD>ins
<TD>A
<TD>AG
<TD>AG:88 A:0
<TR>
<TD>NC_002516.2
<TD>1275766
<TD>del
<TD>GA
<TD>G
<TD>G:100 GA:0
<TR>
<TD>NC_002516.2
<TD>1440622
<TD>del
<TD>CA
<TD>C
<TD>C:81 CA:0
<TR>
<TD>NC_002516.2
<TD>1445357
<TD>ins
<TD>A
<TD>AG
<TD>AG:126 A:0
<TR>
<TD>NC_002516.2
<TD>1467483
<TD>complex
<TD>C
<TD>GCG
<TD>GCG:98 C:0
<TR>
<TD>NC_002516.2
<TD>1589438
<TD>snp
<TD>G
<TD>C
<TD>C:126 G:0
<TR>
<TD>NC_002516.2
<TD>1835045
<TD>ins
<TD>G
<TD>GC
<TD>GC:98 G:0
<TR>
<TD>NC_002516.2
<TD>2169348
<TD>ins
<TD>A
<TD>AG
<TD>AG:84 A:0
<TR>
<TD>NC_002516.2
<TD>2186927
<TD>ins
<TD>G
<TD>GC
<TD>GC:52 G:0
<TR>
<TD>NC_002516.2
<TD>2195457
<TD>ins
<TD>G
<TD>GC
<TD>GC:97 G:0
<TR>
<TD>NC_002516.2
<TD>2239547
<TD>snp
<TD>T
<TD>G
<TD>G:89 T:0
<TR>
<TD>NC_002516.2
<TD>2239555
<TD>ins
<TD>A
<TD>AG
<TD>AG:76 A:0
<TR>
<TD>NC_002516.2
<TD>2342110
<TD>ins
<TD>C
<TD>CT
<TD>CT:97 C:0
<TR>
<TD>NC_002516.2
<TD>2355771
<TD>ins
<TD>A
<TD>AG
<TD>AG:113 A:0
<TR>
<TD>NC_002516.2
<TD>2356681
<TD>del
<TD>GC
<TD>G
<TD>G:78 GC:0
<TR>
<TD>NC_002516.2
<TD>2532046
<TD>ins
<TD>G
<TD>GC
<TD>GC:89 G:0
<TR>
<TD>NC_002516.2
<TD>2669175
<TD>snp
<TD>G
<TD>C
<TD>C:121 G:0
<TR>
<TD>NC_002516.2
<TD>2753522
<TD>ins
<TD>G
<TD>GC
<TD>GC:87 G:0
<TR>
<TD>NC_002516.2
<TD>2807693
<TD>del
<TD>TCGGCCAGC
<TD>T
<TD>T:81 TCGGCCAGC:0
<TR>
<TD>NC_002516.2
<TD>2807982
<TD>snp
<TD>T
<TD>A
<TD>A:96 T:0
<TR>
<TD>NC_002516.2
<TD>3016844
<TD>ins
<TD>G
<TD>GC
<TD>GC:93 G:0
<TR>
<TD>NC_002516.2
<TD>3083196
<TD>ins
<TD>A
<TD>AG
<TD>AG:110 A:0
<TR>
<TD>NC_002516.2
<TD>3919508
<TD>ins
<TD>G
<TD>GC
<TD>GC:115 G:0
<TR>
<TD>NC_002516.2
<TD>4212201
<TD>snp
<TD>A
<TD>G
<TD>G:100 A:0
<TR>
<TD>NC_002516.2
<TD>4344266
<TD>snp
<TD>A
<TD>G
<TD>G:129 A:0
<TR>
<TD>NC_002516.2
<TD>4448855
<TD>complex
<TD>CG
<TD>GC
<TD>GC:84 CG:0
<TR>
<TD>NC_002516.2
<TD>4539468
<TD>ins
<TD>G
<TD>GC
<TD>GC:64 G:0
<TR>
<TD>NC_002516.2
<TD>4869855
<TD>snp
<TD>T
<TD>G
<TD>G:119 T:0
<TR>
<TD>NC_002516.2
<TD>4888194
<TD>ins
<TD>A
<TD>AG
<TD>AG:109 A:0
<TR>
<TD>NC_002516.2
<TD>4924552
<TD>complex
<TD>CG
<TD>GC
<TD>GC:139 CG:0
<TR>
<TD>NC_002516.2
<TD>5033101
<TD>ins
<TD>G
<TD>GC
<TD>GC:54 G:0
<TR>
<TD>NC_002516.2
<TD>5036893
<TD>snp
<TD>C
<TD>A
<TD>A:120 C:0
<TR>
<TD>NC_002516.2
<TD>5071543
<TD>del
<TD>AACTG
<TD>A
<TD>A:101 AACTG:0
<TR>
<TD>NC_002516.2
<TD>5472415
<TD>ins
<TD>C
<TD>CG
<TD>CG:113 C:0
<TR>
<TD>NC_002516.2
<TD>5655220
<TD>ins
<TD>C
<TD>CCGG
<TD>CCGG:106 C:1
<TR>
<TD>NC_002516.2
<TD>5743461
<TD>mnp
<TD>CG
<TD>GC
<TD>GC:120 CG:0
<TR>
<TD>NC_002516.2
<TD>6079222
<TD>snp
<TD>A
<TD>G
<TD>G:104 A:0
<TR>
<TD>NC_002516.2
<TD>6098781
<TD>snp
<TD>G
<TD>C
<TD>C:107 G:0
<TR>
<TD>NC_002516.2
<TD>6115455
<TD>snp
<TD>T
<TD>G
<TD>G:127 T:0
</TABLE>
