<TABLE ID='snps' BORDER=1>
<TR>
<TH>CHROM
<TH>POS
<TH>TYPE
<TH>REF
<TH>ALT
<TH>EVIDENCE
<TH>FTYPE
<TH>STRAND
<TH>NT_POS
<TH>AA_POS
<TH>EFFECT
<TH>LOCUS_TAG
<TH>GENE
<TH>PRODUCT
<TR>
<TD>CP000647.1
<TD>275000
<TD>ins
<TD>A
<TD>ACG
<TD>ACG:66 A:0
<TR>
<TD>CP000647.1
<TD>316777
<TD>ins
<TD>G
<TD>GC
<TD>GC:74 G:0
<TR>
<TD>CP000647.1
<TD>502594
<TD>ins
<TD>A
<TD>AG
<TD>AG:54 A:1
<TR>
<TD>CP000647.1
<TD>598127
<TD>ins
<TD>G
<TD>GC
<TD>GC:70 G:0
<TR>
<TD>CP000647.1
<TD>883307
<TD>ins
<TD>G
<TD>GC
<TD>GC:75 G:0
<TR>
<TD>CP000647.1
<TD>898139
<TD>del
<TD>GC
<TD>G
<TD>G:45 GC:0
<TR>
<TD>CP000647.1
<TD>1080362
<TD>del
<TD>GC
<TD>G
<TD>G:71 GC:0
<TR>
<TD>CP000647.1
<TD>1206615
<TD>snp
<TD>A
<TD>C
<TD>C:35 A:0
<TR>
<TD>CP000647.1
<TD>1338336
<TD>ins
<TD>G
<TD>GC
<TD>GC:48 G:0
<TR>
<TD>CP000647.1
<TD>1404058
<TD>ins
<TD>A
<TD>AG
<TD>AG:61 A:0
<TR>
<TD>CP000647.1
<TD>1545587
<TD>ins
<TD>G
<TD>GC
<TD>GC:92 G:0
<TR>
<TD>CP000647.1
<TD>1576291
<TD>ins
<TD>A
<TD>AC
<TD>AC:92 A:0
<TR>
<TD>CP000647.1
<TD>1662156
<TD>ins
<TD>C
<TD>CG
<TD>CG:64 C:0
<TR>
<TD>CP000647.1
<TD>1801430
<TD>ins
<TD>G
<TD>GC
<TD>GC:70 G:0
<TR>
<TD>CP000647.1
<TD>1972610
<TD>snp
<TD>T
<TD>A
<TD>A:64 T:0
<TR>
<TD>CP000647.1
<TD>2133385
<TD>ins
<TD>G
<TD>GC
<TD>GC:50 G:1
<TR>
<TD>CP000647.1
<TD>2148710
<TD>del
<TD>CG
<TD>C
<TD>C:63 CG:0
<TR>
<TD>CP000647.1
<TD>2170308
<TD>ins
<TD>C
<TD>CG
<TD>CG:62 C:0
<TR>
<TD>CP000647.1
<TD>2461690
<TD>del
<TD>GT
<TD>G
<TD>G:59 GT:0
<TR>
<TD>CP000647.1
<TD>2632354
<TD>ins
<TD>C
<TD>CG
<TD>CG:67 C:0
<TR>
<TD>CP000647.1
<TD>2849952
<TD>ins
<TD>G
<TD>GC
<TD>GC:45 G:0
<TR>
<TD>CP000647.1
<TD>2849957
<TD>ins
<TD>T
<TD>TG
<TD>TG:45 T:0
<TR>
<TD>CP000647.1
<TD>2888537
<TD>ins
<TD>G
<TD>GC
<TD>GC:33 G:0
<TR>
<TD>CP000647.1
<TD>3300785
<TD>ins
<TD>T
<TD>TG
<TD>TG:47 T:0
<TR>
<TD>CP000647.1
<TD>3371971
<TD>del
<TD>CG
<TD>C
<TD>C:72 CG:0
<TR>
<TD>CP000647.1
<TD>3451313
<TD>ins
<TD>A
<TD>AG
<TD>AG:63 A:0
<TR>
<TD>CP000647.1
<TD>3623380
<TD>ins
<TD>G
<TD>GC
<TD>GC:36 G:0
<TR>
<TD>CP000647.1
<TD>3763545
<TD>ins
<TD>C
<TD>CG
<TD>CG:70 C:0
<TR>
<TD>CP000647.1
<TD>3766153
<TD>ins
<TD>G
<TD>GGC
<TD>GGC:85 G:0
<TR>
<TD>CP000647.1
<TD>4058187
<TD>complex
<TD>CG
<TD>GC
<TD>GC:93 CG:1
<TR>
<TD>CP000647.1
<TD>4991292
<TD>ins
<TD>G
<TD>GC
<TD>GC:65 G:0
<TR>
<TD>CP000647.1
<TD>5025088
<TD>ins
<TD>C
<TD>CG
<TD>CG:62 C:0
<TR>
<TD>CP000648.1
<TD>48720
<TD>ins
<TD>G
<TD>GC
<TD>GC:85 G:0
<TR>
<TD>CP000648.1
<TD>85811
<TD>ins
<TD>G
<TD>GC
<TD>GC:92 G:0
<TR>
<TD>CP000649.1
<TD>48603
<TD>ins
<TD>C
<TD>CG
<TD>CG:127 C:0
</TABLE>
