<TABLE ID='snps' BORDER=1>
<TR>
<TH>CHROM
<TH>POS
<TH>TYPE
<TH>REF
<TH>ALT
<TH>EVIDENCE
<TH>FTYPE
<TH>STRAND
<TH>NT_POS
<TH>AA_POS
<TH>EFFECT
<TH>LOCUS_TAG
<TH>GENE
<TH>PRODUCT
<TR>
<TD>NC_002952.2
<TD>539048
<TD>snp
<TD>T
<TD>G
<TD>G:438 T:0
<TR>
<TD>NC_002952.2
<TD>1052907
<TD>ins
<TD>T
<TD>TA
<TD>TA:312 T:0
<TR>
<TD>NC_002952.2
<TD>1064680
<TD>snp
<TD>C
<TD>G
<TD>G:368 C:0
<TR>
<TD>NC_002952.2
<TD>1125715
<TD>snp
<TD>C
<TD>A
<TD>A:338 C:1
<TR>
<TD>NC_002952.2
<TD>1125728
<TD>complex
<TD>TTTC
<TD>ATTA
<TD>ATTA:342 TTTC:0
<TR>
<TD>NC_002952.2
<TD>1125792
<TD>snp
<TD>A
<TD>G
<TD>G:338 A:0
<TR>
<TD>NC_002952.2
<TD>1125806
<TD>snp
<TD>C
<TD>A
<TD>A:310 C:0
<TR>
<TD>NC_002952.2
<TD>1126585
<TD>snp
<TD>C
<TD>T
<TD>T:317 C:0
<TR>
<TD>NC_002952.2
<TD>1126662
<TD>snp
<TD>C
<TD>A
<TD>A:349 C:0
<TR>
<TD>NC_002952.2
<TD>1127575
<TD>snp
<TD>C
<TD>G
<TD>G:399 C:0
<TR>
<TD>NC_002952.2
<TD>1277712
<TD>snp
<TD>G
<TD>A
<TD>A:303 G:1
<TR>
<TD>NC_002952.2
<TD>1658743
<TD>ins
<TD>C
<TD>CA
<TD>CA:267 C:0
<TR>
<TD>NC_002952.2
<TD>2219050
<TD>snp
<TD>C
<TD>T
<TD>T:319 C:0
<TR>
<TD>NC_002952.2
<TD>2219079
<TD>snp
<TD>A
<TD>G
<TD>G:352 A:0
<TR>
<TD>NC_002952.2
<TD>2219132
<TD>snp
<TD>A
<TD>T
<TD>T:352 A:1
<TR>
<TD>NC_002952.2
<TD>2246910
<TD>ins
<TD>A
<TD>AT
<TD>AT:397 A:0
<TR>
<TD>NC_002952.2
<TD>2257298
<TD>snp
<TD>G
<TD>A
<TD>A:400 G:0
<TR>
<TD>NC_002952.2
<TD>2266507
<TD>snp
<TD>C
<TD>G
<TD>G:342 C:0
<TR>
<TD>NC_002952.2
<TD>2303873
<TD>snp
<TD>C
<TD>A
<TD>A:71 C:0
<TR>
<TD>NC_002952.2
<TD>2337287
<TD>snp
<TD>C
<TD>A
<TD>A:38 C:0
<TR>
<TD>NC_002952.2
<TD>2513038
<TD>snp
<TD>C
<TD>T
<TD>T:386 C:0
<TR>
<TD>NC_002952.2
<TD>2724378
<TD>snp
<TD>G
<TD>A
<TD>A:399 G:0
<TR>
<TD>NC_002952.2
<TD>2894085
<TD>ins
<TD>T
<TD>TA
<TD>TA:419 T:0
</TABLE>
